body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  cursor: grab;
  /* position: fixed; */
  /* top: 50%;
  left: 50%; */
  /* justify-self: center; */
  transform-origin: center;
}

#canvas-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#bg {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
}

#angle {
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0);
}
